---
http_interactions:
- request:
    method: post
    uri: https://onlinetools.ups.com/ups.app/xml/XAV
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><AccessRequest><AccessLicenseNumber>%{AccessLicenseNumber}</AccessLicenseNumber><UserId>%{UserId}</UserId><Password>%{Password}</Password></AccessRequest><?xml
        version="1.0" encoding="UTF-8"?><AddressValidationRequest><Request><RequestAction>XAV</RequestAction><RequestOption>3</RequestOption></Request><MaximumListSize>5</MaximumListSize><AddressKeyFormat><ConsigneeName>Brady
        Somerville</ConsigneeName><AddressLine>Nashville Rd</AddressLine><PoliticalDivision2>Bowling
        Green</PoliticalDivision2><PoliticalDivision1>KY</PoliticalDivision1><PostcodePrimaryLow>42104</PostcodePrimaryLow><CountryCode>US</CountryCode></AddressKeyFormat></AddressValidationRequest>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><AddressValidationResponse><Response><TransactionReference></TransactionReference><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><AmbiguousAddressIndicator/><AddressClassification><Code>0</Code><Description>Unknown</Description></AddressClassification><AddressKeyFormat><AddressClassification><Code>0</Code><Description>Unknown</Description></AddressClassification><AddressLine>1-99
        NASHVILLE RD</AddressLine><Region>BOWLING GREEN KY 42101-3800</Region><PoliticalDivision2>BOWLING
        GREEN</PoliticalDivision2><PoliticalDivision1>KY</PoliticalDivision1><PostcodePrimaryLow>42101</PostcodePrimaryLow><PostcodeExtendedLow>3800</PostcodeExtendedLow><CountryCode>US</CountryCode></AddressKeyFormat><AddressKeyFormat><AddressClassification><Code>0</Code><Description>Unknown</Description></AddressClassification><AddressLine>6100-6299
        NASHVILLE RD</AddressLine><Region>BOWLING GREEN KY 42101-7514</Region><PoliticalDivision2>BOWLING
        GREEN</PoliticalDivision2><PoliticalDivision1>KY</PoliticalDivision1><PostcodePrimaryLow>42101</PostcodePrimaryLow><PostcodeExtendedLow>7514</PostcodeExtendedLow><CountryCode>U[...]
